<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-6">
        <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>

        <div class="input-group rounded mb-3">
          <input
            type="search"
            class="form-control rounded"
            (keyup)="searInput($event.target.value)"
            [(ngModel)]="cityName"
            placeholder="City"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <a class="ml-2" (click)="submitDetails()" type="button">
            <span class="input-group-text border-0 fw-bold" id="search-addon">
              Check
            </span>
          </a>
        </div>

        <div class="mb-4 pb-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              (change)="isCelsiusCheck(true)"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="inlineRadio1">Celsius</label>
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              (change)="isCelsiusCheck(false)"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Farenheit</label>
          </div>
        </div>

        <!-- weather show card start  -->
        <div class="card mb-5" style="color: #4b515d; border-radius: 35px">
          <div class="card-body p-4">
            <div class="d-flex">
              <h6 class="flex-grow-1">
                {{ weatherData?.location.name }}
                <br />
                <span class="region">{{ weatherData?.location.region }}</span>
              </h6>
              <h6>{{ weatherData?.current.last_updated | date }}</h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6
                class="display-4 mb-0 font-weight-bold"
                style="color: #1c2331"
              >
                {{
                  isCelsius
                    ? weatherData?.current.temp_c + "°C"
                    : weatherData?.current.temp_f + "°F"
                }}
              </h6>
              <span class="small" style="color: #868b94">{{
                weatherData?.current.condition.text
              }}</span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem">
                <div>
                  <i class="fas fa-wind fa-fw" style="color: #868b94"></i>
                  <span class="ms-1">
                    Wind: {{ weatherData?.current.wind_kph }}
                    km/h
                  </span>
                </div>
                <div>
                  <i class="fas fa-tint fa-fw" style="color: #868b94"></i>
                  <span class="ms-1">
                    Humidity: {{ weatherData?.current.humidity }}%
                  </span>
                </div>
              </div>
              <div>
                <img
                  src="{{ weatherData?.current.condition.icon }}"
                  width="100px"
                />
              </div>
            </div>

            <div class="row text-center mt-2">
              <div class="col-md-4" *ngFor="let item of foreCastData">
                <div>{{ item.date | date : "dd-MM-yy" }}</div>

                <div class="row">
                  <div class="col-12">
                    {{ item.day.condition.text }}
                  </div>
                  <div class="col-12">
                    <img src="{{ item.day.condition.icon }}" alt="" />
                  </div>
                </div>

                <div class="d-flex flex-row">
                  <span class="">Temp:- </span>
                  <span>
                    {{
                      isCelsius
                        ? item.day.mintemp_c + "°C/" + item.day.maxtemp_c + "°C"
                        : item.day.mintemp_f + "°F/" + item.day.maxtemp_f + "°F"
                    }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- weather show card End  -->
      </div>
    </div>
  </div>
</section>
